//colors
$color-light-blue: #4fb7ca; //for agency bg and project title
$color-blue: #0191a4;
$color-grey: #322f31; //for designers bg, form bg, and menu text
$color-white: #ffffff; //for menu and projects bg, contact and agency titles
$color-button:#e34e74;
$color-hover: #f2686d;

//buttons
$font-button: 'robotomedium', Helvetica, Arial, 'sans serif';

//menu
$font-menu-size: 20px;

//titles
$font-title: 'oswaldmedium', Helvetica, Arial, 'sans serif';
$mobile-font-title-size: 60px;
$font-title-size: 42px;

//text
$font-text: 'robotolight', Helvetica, Arial, 'sans serif';
$mobile-font-text-size: 24px;
$font-text-size: 18px;

//images
$image-widht: 100%;
$image-height: 100%;
