//colors for the bg
$color-light-blue: #4fb7ca;
$color-blue: #0191a4;
$color-grey: #322f31;

//colors for the buttons
$color-button: #e34e74;
$color-button-hover: #f2686d;

//font for the titles
$font-title: 'oswaldmedium', Helvetica, Arial, 'sans serif';

//font for text
$font-text: 'robotolight', Helvetica, Arial, 'sans serif';

//font for buttons
$font-button: 'robotomedium', Helvetica, Arial, 'sans serif';

//mobile portfolio images size
$port-image-widht: 100%;
$port-image-height: 100%;

//mobile logo size
$logo-image-width: 100%;
$logo-image-height: 100%;
