@import '_vars';

@font-face {
    font-family: 'oswaldmedium';
    src: url('../font/oswald-medium-webfont.woff2') format('woff2'),
         url('../font/oswald-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../font/roboto-light-webfont.woff2') format('woff2'),
         url('../font/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../font/roboto-medium-webfont.woff2') format('woff2'),
         url('../font/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width:  750px){
    .row{
margin-left: 0%;
margin-right: 0%;
    }
}

//menu

.menu li{
	background-color: #322f31;
}

.menu ul{
	background-color: $color-white;
}

/*.menu a{
	color: $color-menu;
	font-size: 14px;
	font-family: 'neoubold';
}

.menu a:hover{
	color: #fcc219;
}*/

.top-bar-right{
	background-color: $color-white;
	margin-top: 3%;
	margin-bottom: 3%;
}

.title-bar{
	background-color: $color-white;
}

//banner

#bannerImg{
    width: $image-widht;
    height: $image-height;
}

.bannerBox{
    margin: 0;
    padding: 0;
}

//the agency

.agencyBox{
    background-color: $color-light-blue;
    margin: 0;
    padding: 0;
}

#agencyText{
    width: 100%;
    height: auto;
    padding: 5%;
}

h1{
    font-family: $font-title;
    font-size: $mobile-font-title-size;
    color: $color-white;
    text-transform: uppercase;
}

p{
    font-family: $font-text;
    font-size: $mobile-font-text-size;
    color: $color-white;
    text-align: justify;
}


.designerBox{
    background-color: $color-grey;
}

.designerText{
    width: 100%;
    height: auto;
    margin-top: 5%;
}

.designerText p{
    font-size: 20px;
    padding: 5px;
}

#nathImg{
    margin-top: 15%;
}

#annaImg{
    margin-top: 15%;
}

#projectsText h1{
    color: $color-light-blue;
    padding: 5%;
}

.projectsBox{
    margin: 0;
    padding: 0;
}




