@import '_vars';

@font-face {
    font-family: 'oswaldmedium';
    src: url('../fonts/oswald-medium-webfont.woff2') format('woff2'),
         url('../fonts/oswald-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width:  750px){
    .row{
margin-left: 0%;
margin-right: 0%;
    }
}

//menu

#menuContainer{
    background-color: $color-white;
    padding: 0;
    font-family: $font-text;
    font-size: $font-menu-size;
}

#menuContainer a{
    color: $color-grey;
}

#menuContainer a:hover{
    color: $color-hover;
}

.menu li{
	background-color: $color-white;
}

.menu ul{
	background-color: $color-white;
}

.menu-icon {
    color: $color-grey;
}

/*.menu a{
	color: $color-menu;
	font-size: 14px;
	font-family: 'neoubold';
}

.menu a:hover{
	color: #fcc219;
}*/

.top-bar-right{
    background-color: $color-white;
    position: fixed;
    width: 100%;
    padding: 1.5%;
	/*margin-top: 3%;
	margin-bottom: 3%;*/
}

@media screen and (max-width: 750px){
    .top-bar-right{
        margin-top:11%;
    }
    .top-bar-right ul{
        display: inline-block;
    }
    .top-bar-right li{
        padding-top:11px;
    }
    .title-bar{
        background-color: $color-white;
        position: fixed;
        width: 100%;
        padding-bottom: 4%;
        padding-top: 4%;
        padding-left: 4%;
    }
}

@media screen and (min-width: 750px){
    .title-bar{
        background-color: $color-white;
        position: fixed;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media screen and (min-width:  750px){
    #menuText{
        margin-left: 27%;
        margin-top:-3px;
    }
}

#mobileLogo{
    margin-left: 30%;
}

//banner

#bannerImg{
    width: $image-widht;
    height: $image-height;
}

.bannerBox{
    margin: 0;
    padding: 0;
}

//the agency

.agencyBox{
    background-color: $color-light-blue;
    margin: 0;
    padding: 0;
    height: 170%;
}

#agencyText{
    padding: 8%;
}

h1{
    font-family: $font-title;
    font-size: 46px;
    color: $color-white;
    text-transform: uppercase;
}

p{
    font-family: $font-text;
    font-size: 16px;
    color: $color-white;
    text-align: justify;
}

//designers

.designerBox{
    background-color: $color-grey;
    padding-top: 3%;
    padding-bottom: 2.2%;
}

.designerText{
    width: 100%;
    height: auto;
    margin-top: 2%;
}

.designerText p{
    font-size: 17px;
    padding: 3%;
}

.designerBox p{
    padding-top:0;
    padding-bottom: 1px;
}

#nathImg{
    margin-top: 15%;
    margin-left: 20%;
}

#annaImg{
    margin-top: 13%;
    margin-left: 20%;
}

//project

#projectsTitle h1{
    color: $color-light-blue;
    padding: 3.5% 0% 1% 2%;
}

.projectsBox{
    margin: 0;
    padding: 0;
}

//contact us

.contactBox{
    
    margin: 0;
    padding: 0;
}

#contactUs{
    border: 1px solid #000;
    background-color: $color-grey;
    padding: 2%;
}

@media screen and (max-width:750px){
    #contactUs h1{
        padding-left: 1%;
    }
}

#contactText h1{
    margin-left: 1.5%;
}


label{
    color: $color-white;
    font-family: $font-text;
    font-size: 16px;
}

.button{
    background-color: $color-button;
    width: 100%;
    font-family: $font-button;
    font-size: 16px;
}

.button:hover{
    background-color: $color-hover;
}

//footer

@media screen and (max-width:750px){
    #footerBox{
        padding: 5%;
    }
    #connectText{
        padding-top:6%;
        padding-left: 10%;
    }
    
    #socialMedia{
        padding-top:4%;
    }
}

#connectText p{
    color: $color-button;
    font-family: $font-title;
    font-size: 28px;
}

@media screen and (min-width:750px){
    #socialMedia a{
        padding-left: 4%;
    }
    #footerBox{
        padding: 2%;
    }
    #footerLogo{
        margin-left: -60%;
        padding-top: 10px;
    }
    #socialMedia{
        margin-right: -50px;
    }
    #connectText{
        padding-top: 10px;
        margin-left:50px;
    }
    #connectText p{
        margin-left: 80px;
    }
}


